DEBUG=false
SECRET_KEY=change-this-to-50-char-random-string
ALLOWED_HOSTS=elab.cce.nmam.in,192.168.1.100
CSRF_TRUSTED_ORIGINS=https://elab.cce.nmam.in,http://192.168.1.100

POSTGRES_DB=elab_db
POSTGRES_USER=elab
POSTGRES_PASSWORD=strong-db-password-here

JUDGE0_POSTGRES_DB=judge0
JUDGE0_POSTGRES_USER=judge0
JUDGE0_POSTGRES_PASSWORD=replace-this-judge0-password
JUDGE0_REDIS_PASSWORD=replace-this-judge0-redis-password

REDIS_URL=redis://elab-redis:6379/0
CELERY_BROKER_URL=redis://elab-redis:6379/1
CELERY_RESULT_BACKEND=redis://elab-redis:6379/2
CELERY_TASK_ALWAYS_EAGER=true
JUDGE0_URL=http://judge0-server:2358

SITE_NAME=CCE e-Lab
SITE_BASE_URL=https://elab.cce.nmam.in
CERTIFICATE_SIGNING_KEY=replace-this-certificate-signing-key
CERTIFICATE_THRESHOLD=60

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=elab@cce.nmam.in
EMAIL_HOST_PASSWORD=app-password-here
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=elab@cce.nmam.in
