Django==5.0.6
djangorestframework==3.15.1
psycopg[binary]==3.3.4
redis==5.0.4
celery==5.4.0
requests==2.32.3
qrcode[pil]==7.4.2
pydyf==0.11.0
weasyprint==62.3
gunicorn==22.0.0
whitenoise==6.6.0
python-dotenv==1.0.1
pypdf==4.2.0
